<a href="https://colab.research.google.com/github/BABALEXA/Laboratorny/blob/main/lab3/%D0%97%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Задание по практике 3

##Обработка пропущенных значений

Обработайте пропущенные значения:


* Удалите пропущенные значения
* Заполните при помощи медианы, среднего для числовых значений
* Заполните при помощи моды для категориальных значений
* Интерполируйте
Выведите статистку после каждого метода и объясните

In [1]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.11.3)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.2.0)

In [4]:
import pandas as pd
import matplotlib as plt

df = pd.read_csv('Covid Data.csv')
df

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2.0,2.0,...,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,3.0,97.0
1,2,1,2,1,03/06/2020,97,1,72,97.0,2.0,...,2.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0,5.0,97.0
2,2,1,2,2,09/06/2020,1,2,55,97.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0
3,2,1,1,1,12/06/2020,97,2,53,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,7.0,97.0
4,2,1,2,1,21/06/2020,97,2,68,97.0,1.0,...,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,3.0,97.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718420,2,12,2,1,9999-99-99,97,2,44,97.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,6.0,97.0
718421,1,12,2,1,9999-99-99,97,2,52,97.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,6.0,97.0
718422,2,12,2,1,9999-99-99,97,2,51,97.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,6.0,97.0
718423,2,12,1,1,9999-99-99,97,2,22,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,6.0,97.0
718424,1,12,2,1,9999-99-99,97,2,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#Удаление

#Удаление
df_drop = df.dropna()

df_drop

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2.0,2.0,...,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,3.0,97.0
1,2,1,2,1,03/06/2020,97,1,72,97.0,2.0,...,2.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0,5.0,97.0
2,2,1,2,2,09/06/2020,1,2,55,97.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0
3,2,1,1,1,12/06/2020,97,2,53,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,7.0,97.0
4,2,1,2,1,21/06/2020,97,2,68,97.0,1.0,...,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,3.0,97.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718419,1,12,2,1,9999-99-99,97,2,74,97.0,2.0,...,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,6.0,97.0
718420,2,12,2,1,9999-99-99,97,2,44,97.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,6.0,97.0
718421,1,12,2,1,9999-99-99,97,2,52,97.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,6.0,97.0
718422,2,12,2,1,9999-99-99,97,2,51,97.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,6.0,97.0
718423,2,12,1,1,9999-99-99,97,2,22,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,6.0,97.0

In [13]:
import numpy as np
def create_holes(dataframe, column_name, hole_percentage = 10):

    if hole_percentage < 0 or hole_percentage > 100:
        raise ValueError("Процент дырявости должен быть в диапазоне от 0 до 100.")

    dataframe_with_holes = dataframe.copy()
    num_holes = int(len(dataframe) * (hole_percentage / 100))
    hole_indices = np.random.choice(len(dataframe), num_holes, replace=False)
    dataframe_with_holes.loc[hole_indices, column_name] = np.nan

    return dataframe_with_holes


df = create_holes(df, 'Rape')
df

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU,Rape
0,2,1,1,1,03/05/2020,97,1,65,2.0,2.0,...,2.0,1.0,2.0,2.0,2.0,2.0,2.0,3.0,97.0,NaN
1,2,1,2,1,03/06/2020,97,1,72,97.0,2.0,...,2.0,1.0,2.0,2.0,1.0,1.0,2.0,5.0,97.0,NaN
2,2,1,2,2,09/06/2020,1,2,55,97.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0,NaN
3,2,1,1,1,12/06/2020,97,2,53,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,7.0,97.0,NaN
4,2,1,2,1,21/06/2020,97,2,68,97.0,1.0,...,2.0,1.0,2.0,2.0,2.0,2.0,2.0,3.0,97.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718420,2,12,2,1,9999-99-99,97,2,44,97.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,6.0,97.0,NaN
718421,1,12,2,1,9999-99-99,97,2,52,97.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,6.0,97.0,NaN
718422,2,12,2,1,9999-99-99,97,2,51,97.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,6.0,97.0,NaN
718423,2,12,1,1,9999-99-99,97,2,22,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,6.0,97.0,NaN
718424,1,12,2,1,9999-99-99,97,2,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
#Заполнение при помощи медианы

#Заполнение при помощи медианы
df_median = df.fillna(df["Rape"].median())

df_median

Empty DataFrame
Columns: [USMER, MEDICAL_UNIT, SEX, PATIENT_TYPE, DATE_DIED, INTUBED, PNEUMONIA, AGE, PREGNANT, DIABETES, COPD, ASTHMA, INMSUPR, HIPERTENSION, OTHER_DISEASE, CARDIOVASCULAR, OBESITY, RENAL_CHRONIC, TOBACCO, CLASIFFICATION_FINAL, ICU, Rape]
Index: []

[0 rows x 22 columns]

In [15]:
#Заполнение при помощи среднего

df_mean = df.fillna(df['TOBACCO'].mean())

df_mean

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU,Rape
0,2,1,1,1,03/05/2020,97,1,65,2.000000,2.000000,...,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,97.000000,2.257798
1,2,1,2,1,03/06/2020,97,1,72,97.000000,2.000000,...,2.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000,5.000000,97.000000,2.257798
2,2,1,2,2,09/06/2020,1,2,55,97.000000,1.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.257798
3,2,1,1,1,12/06/2020,97,2,53,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,7.000000,97.000000,2.257798
4,2,1,2,1,21/06/2020,97,2,68,97.000000,1.000000,...,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,97.000000,2.257798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718420,2,12,2,1,9999-99-99,97,2,44,97.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,6.000000,97.000000,2.257798
718421,1,12,2,1,9999-99-99,97,2,52,97.000000,1.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,6.000000,97.000000,2.257798
718422,2,12,2,1,9999-99-99,97,2,51,97.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,6.000000,97.000000,2.257798
718423,2,12,1,1,9999-99-99,97,2,22,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,6.000000,97.000000,2.257798
718424,1,12,2,1,9999-99-99,97,2,4,2.257798,2.257798,...,2.257798,2.257798,2.257798,2.257798,2.257798,2.257798,2.257798,2.257798,2.257798,2.257798

In [19]:
#Заполнение при помощи моды

df_mode = df.fillna(df["SEX"].mode())
df_mode

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU,Rape
0,2,1,1,1,03/05/2020,97,1,65,2.0,2.0,...,2.0,1.0,2.0,2.0,2.0,2.0,2.0,3.0,97.0,NaN
1,2,1,2,1,03/06/2020,97,1,72,97.0,2.0,...,2.0,1.0,2.0,2.0,1.0,1.0,2.0,5.0,97.0,NaN
2,2,1,2,2,09/06/2020,1,2,55,97.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0,NaN
3,2,1,1,1,12/06/2020,97,2,53,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,7.0,97.0,NaN
4,2,1,2,1,21/06/2020,97,2,68,97.0,1.0,...,2.0,1.0,2.0,2.0,2.0,2.0,2.0,3.0,97.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718420,2,12,2,1,9999-99-99,97,2,44,97.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,6.0,97.0,NaN
718421,1,12,2,1,9999-99-99,97,2,52,97.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,6.0,97.0,NaN
718422,2,12,2,1,9999-99-99,97,2,51,97.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,6.0,97.0,NaN
718423,2,12,1,1,9999-99-99,97,2,22,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,6.0,97.0,NaN
718424,1,12,2,1,9999-99-99,97,2,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
#Заполнение при помощи интерполяции

df_interpolate = df["INTUBED"].interpolate(method ='linear')
df_interpolate

0         97
1         97
2          1
3         97
4         97
          ..
718420    97
718421    97
718422    97
718423    97
718424    97
Name: INTUBED, Length: 718425, dtype: int64

**Объяснение: **

##Поиск выбросов и аномалий

**Те, кто выполняет задания со * делают поиск выбросов с помощью написанного ранее класса**

Найти выбросы по числовой переменной (использовать метод основанный на среднем и на межквартильном размахе). Объясните результат

Вывести статистику с выбросами и без. Сравните и объясните результат

In [26]:
#Методом среднего
df = df.dropna()
plt.boxplot(df["Rape"])
plt.show()

AttributeError: ignored

In [ ]:
#При помощи межквартильного размаха

In [ ]:
#Статистика и объяснение

**Объяснения**

##Дубликаты

Проверьте датафрейм на дубликаты и удалите их, если дублей нет - создайте.

In [ ]:
#Проверка на дубли

In [ ]:
#Удаление дублей

## Преобразование признаков

Масштабируйте числовые признаки через MinMaxScaler, StandardScaler

In [ ]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

# Creating instances
min_max_scaler = MinMaxScaler()
standard_scaler = StandardScaler()

Масштабируйте категориальные признаки через OneHotEncoder

In [ ]:
from sklearn.preprocessing import OneHotEncoder

# Create an instance of OneHotEncoder
encoder = OneHotEncoder()

##Задание для гениев*


Реализовать расчет корреляции Спирмана

In [ ]:
#Функция по расчету тут

In [ ]:
#Пример использования тут и объяснение принципа работы

###Пример реализации

In [ ]:
import pandas as pd
import numpy as np


def corr_pearson(column_1, column_2):
  cov = np.cov(column_1, column_2)
  return cov/(column_1.std() * column_2.std())

In [ ]:
data = {
    'Рост': [170, 155, 180, 162, 175],
    'Вес': [65, 50, 75, 55, 70]
}
df = pd.DataFrame(data)
df

   Рост  Вес
0   170   65
1   155   50
2   180   75
3   162   55
4   175   70

In [ ]:
corr_pearson(df["Рост"], df["Вес"])

array([[0.96593129, 0.99674864],
       [0.99674864, 1.03527033]])